# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.API-Example-Unity.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\RT\Agora-Unity-Quickstart\API-Example-Unity\.idea\.idea.API-Example-Unity.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
